$myFontSize: 30px;
$myFontWeight: 600;
$shadow: #444 0 2px 12px;

.calculator-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .btn {
    display: flex;
    padding: 12px 3px;
    justify-content: center;
    align-items: center;
    font-size: $myFontSize;
    font-weight: $myFontWeight;
    cursor: pointer;
  }

  .color {
    background-color: #fe7926;
    border: 1px solid gray;
  }

  .color:active {
    background-color: #e97926;
  }

  .color:hover {
    background-color: #e97926;
  }

  .screen {
    grid-area: 1/1/1/5;
    background-color: #444;
    text-align: right;
    color: aliceblue;

    p {
      margin: -5px;
      padding: 3px 20px;
      font-size: $myFontSize;
      font-weight: $myFontWeight;
      word-break: break-all;
    }
  }

  .btn-container {
    width: 50%;
    box-shadow: $shadow;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-rows: 120px; /* top row is 120px in height */
    grid-auto-rows: 80px;     /* any new rows created are 80px in height */
  }

  .zero {
    grid-area: 6/1/6/3;
  }
}
